@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$white:#ffffff;
$lightPink: #f9f0ff;
$grayishPurple: #8c6991;
$darkPurple: #2f1533;

$workSans: "Work Sans",
sans-serif;